name: Scala CI

on:
  push:
    branches: [ main ]
    paths:
      - "applications/**"
      - "libs/**"
      - "plugins/**"
      - "build.sbt"
  pull_request:
    branches: [ main ]
    paths:
      - "applications/**"
      - "libs/**"
      - "plugins/**"
      - "build.sbt"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      # define Java options for both official sbt and sbt-extras
      JAVA_OPTS: -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
      JVM_OPTS: -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v2
      - name: "Setup JDK 13"
        uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 17.0.2+8
      - name: "Coursier cache"
        uses: coursier/cache-action@v6
      - name: "Build & Run tests"
        run: sbt -v test
      - name: "Scalafmt"
        run: sbt scalafmtAll
      - name: "Verify Changed files"
        uses: tj-actions/verify-changed-files@v8.8
        id: verify-changed-files
        with:
          files: |
            .(sbt|scala)$
      - uses: matheusalbino/git-commit@v1.1.0
        with:
          user-name: "scalafmt"
          user-email: balyszyn@gmail.com
          message: This a commit from Github Actions
          github-token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.base_ref }} # default value
